extends layout

block content
  h3 Welcome to Team D, Uno
  if messages.error
    //p(style={color: 'red'})= messages.error
    p(style={color: 'red'}) Incorrect credentials
  form(action='/auth/login', method='POST')
    label(for='email') Email:
    input(name='email' type='email', id='email', placeholder='email', 
    pattern="[\x00-\x7f]+",  title='at least 1 letter')
    br
    label(for='password') Password:
    input(name='password', type='password', 
    placeholder='password', pattern= '[\x00-\x7f}\]{8,}', 
    id='password', title='at least 8 letters')
    br
    input(type='submit', value='Login')
  br
  br
  br
  p or register for an account
  form(action='/simpleRegister.html', methods='POST')
    input(type='submit', value='Register')
