doctype html  

html(lang='en')  
  head
    title Uno Lobby #{id}
    link(rel='stylesheet', href='../stylesheets/game.css')
    script(type="module", src='../client/main.js')
  body
    div.grid-container
      div -
      div#p2 P2
      div -

      div#p3 P3
      div#deck DECK
      div#p4 P4

      div -
      div#hand HAND
      div -
