extends layout

block content
  h1= title
  p Welcome to #{title}
  p These are the game rooms
  button(type="button") Create Game
  script.
  ul
    if games
      each game, i in games
        li= "Game: " + i + " | game id: " + game.id
    else
      strong No Game rooms! Create a game
