extends layout

block content
  h1= title
  p Welcome to #{title}
  p These are the game rooms
  a(href='/simpleRegister.html')
    button(type="button" id="registration") Create Account
  a(href='/login.html')
    button(type="button" id="login") login
  button(type="button" id="createGame") Create Game
  script.
    $('#createGame').on("click", async () => {
      await fetch('createGame', {
        method: 'POST'
        }
      )
      location.reload()
    });
  ul
    if games
      each game in games
        li= "Game id: " + game.game_id + " | Number of players: " + game.count
    else
      strong No Game rooms! Create a game
