html, body {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
}

* {
    box-sizing:border-box;
}

body {
    background: #eeeeee;
}

.grid-main{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 0px;

    height: 100%;
    width: 100%;

}

.grid-game{
    display: grid;
    grid-template-rows: 7fr 3fr;
}

.grid-info{
    display: grid;
    grid-template-rows: 3fr 4fr 3fr;
}

#board{
  display:flex; 
  flex-direction: row; 
  justify-content: center; 
  align-items: center;

  background: #5abb5a;
}

#hand{
  background: #957f54;
  display:flex; 
  flex-direction: row; 
  justify-content: center; 
  align-items: center
}

#players{
  background: #8888aa;
}

#choose-colors{
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-gap: 0px;

  justify-content: center; 
  align-items: center;
}

#chat{
  background: #b6cdd0;
}

#chat-messages{
    display: grid ;
    height: 250px;
    grid-gap: 0px;
    align-items: center ;
    grid-auto-flow: row ;
    grid-template-columns: unset;
    grid-template-rows: unset;
    overflow: scroll;
}

#chat-messages > :nth-child(1n) {
background: #988edd;
}

#chat-messages > :nth-child(2n) {
  background: #b6cdd0;
}

.message{
    display: grid;
    grid-template-columns: 2fr 1fr 5fr;
    padding: 10px;
    width: 100%;
}
