html, body {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
}

* {
    box-sizing:border-box;
}

body {
    background: #222222;
}

.grid-main{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 3px;

    height: 100%;
    width: 100%;
}

.grid-game{
    display: grid;
    grid-template-rows: 7fr 3fr;
    grid-gap: 0px;
}

.grid-info{
    display: grid;
    grid-template-rows: 3fr 200px auto;
    grid-gap: 0px;
}

#board{
  display:flex; 
  flex-direction: row; 
  justify-content: center; 
  align-items: center;

  background: #5abb5a;
}

#hand{
  background: #957f54;
  display:flex; 
  flex-direction: row; 
  justify-content: center; 
  align-items: center
}

#players{
  background: #b5cace;
  display:grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

#choose-colors{
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-gap: 0px;
  padding: 10px;

  justify-content: center; 
  align-items: center;
}

#chat{
  background: #eeeeee;
  display: grid;
  grid-auto-rows: auto 1fr;
}

#msg{
    width: 100%;
    height: 100%;
}

#chat-messages{
    /*height: 30vh;*/
    align-items: center;

    /*display: grid ;
    grid-gap: 0px;
    grid-auto-flow: row ;*/
    overflow-x: hidden;
    overflow-y: scroll;
    /*grid-template-columns: unset;*/
    /*grid-template-rows: unset;*/

    height: 100%;

    /*overflow: scroll;*/
}

.message{
    display: grid;
    grid-template-columns: 2fr 1fr 5fr;
    padding: 10px;
}
