extends layout

block content
  h1= title
  p Welcome to #{title} 
  p This is the game room for game #{gameId}
  button(type="button" id="logout") logout
  li
    = "Game id: " + gameId + " | Number of players: " 
  a(href='/users/startGame')
    button(type="button" class="startGame") start game
  a(href='/users/leaveGame')
    button(type="button" class="leaveGame") leave game
  
  // ======== Imported Libraries ==========
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js')
  script(src='/socket.io/socket.io.js')
  script(src='js/chatroom.js')
