extends layout

block content
  h1= title
  p Welcome to #{title} 
  p This is the game room for game #{gameId}
  h1
    = "Game id: " + gameId + " | Number of players: " + numPlayers
  a(href='/users/startGame')
    button(type="button" class="startGame") start game

  - let url = '/users/leaveGame/' + gameId
  form(id='leaveGameForm' action=url method='POST')
    input(type='submit' value='leave game')

  // ======== Imported Libraries ==========
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js')
  script(src='/socket.io/socket.io.js')
