doctype html
html
  head
    title= title
    link(rel='stylesheet', href='styles/lobby.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js')
  body
    block content
