extends layout

block content
  h1= title
  p Welcome to #{title}
  p These are the game rooms
  button(type="button" id="logout") logout
  button(type="button" id="createGame") Create Game
  script.
    $('#createGame').on("click", async () => {
      await fetch('/users/createGame', {
        method: 'POST'
        }
      )
      location.reload()
    });
    $('#logout').on("click", async () => {
      await fetch('/auth/logout', {
        method: 'POST'
        }
      )
      location.reload()
    });

  ul
    if games
      each game in games
        li= "Game id: " + game.game_id + " | Number of players: " + game.count +" |  "
          a(href='/users/startGame')
            button(type="button" class="startGame") start game
          a(href='/users/joinGame')
            button(type="button" class="joinGame") join game
        if game.joinedAndNotStarted
          a(href='/users/leaveGame')
            button(type="button" class="leaveGame") leave game
    else
      strong No Game rooms! Create a game
  
  // imports
  script(src='/socket.io/socket.io.js')
  script(src='js/main.js')
